<div class="section-todos">
	<h2>Your Todo Lists</h2>
	<div class="row">
		<div>
			<ul>
				<% @lists.each do |list| %>
					<li><%= link_to "#{list.title}", list_path(list) %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>