<!DOCTYPE html>
<html>


		<!-- The content of your page would go here. -->

		<footer class="footer-basic-centered">

			<p class="footer-company-motto">Mark's Todo</p>

			<p class="footer-links">
				<a href="#author" class="js--scroll-to-author">Todos</a>
				·
				<a href="#contact" class="js--scroll-to-contact">Profile</a>
				·
				<a href="#news" class="js--scroll-to-book">Sign in</a>
				·
				<a href="#news" class="js--scroll-to-fan-pics">Sign up</a>
			</p>
			 <p class="footer-links" id="social">
                <a href="#"><i class="ion-social-facebook"></i></a>
                <a href="#"><i class="ion-social-twitter"></i></a>
            </p>

			<p class="footer-company-name">Todos by Mark Hustad &copy; 2016</p>

		</footer>

</html>
