<header>
    <nav>
        <div class="row">
            <ul class="main-nav js--main-nav">
                <li><a href="#todos">Todos</a></li>
                <li><a href="#profile">Profile</a></li>
                <li><a href="#login">Login</a></li>
                <li><a href="#sign-up">Sign up</a></li>
                <li><a href="#start">Start a todo</a></li>
            </ul>
            <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
        </div>
    </nav>
    <div class="hero-text-box">
        <h1>Todos<br>For me</h1>
        <a class="btn btn-full js--scroll-to-sign-up" href="#">Sign up</a>
        <a class="btn btn-ghost js--scroll-to-login" href="#">Login</a>
    </div>       
</header>