<ul>
  <li class="list-item"><%= item.content %> <%= link_to 'Delete', [@list, item],
                  method: :delete,
                  data: { confirm: 'Are you sure?' }   %></li>	
</ul>  	

  

                  