<ul>
  <li><%= item.content %></li>	
</ul>  	


  <%= link_to 'Delete', [item.list, item],
                  method: :delete,
                  class:  "button",
                  data: {confirm: 'Are you sure?'}   %>

